body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color:rgba(2, 2, 2, 0.675);
  color: aliceblue;
  z-index: 2;
}
nav p{
  font-family: "Dancing Script" !important;
  font-size: 30px;
  padding: 10px;
  margin: 0;
}
nav ul{
  display: flex;
  padding-right: 50px;
}
.humberger{
  display: none;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  transition: 0.4s;
} 
nav li{
  list-style-type: none;
  padding: 0 10px 0 10px;
}
nav li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}
nav li a:hover {
  background-color: rgba(2, 2, 2, 0.675);
}
@media screen and (max-width: 761px) {
  .humberger{
    display: block;
    transition: 0.4s;
  }
  nav ul{
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0px;
     }
   nav ul li{
    width: 100%;
    text-align: left;
    padding: 20px;
    display: none;
   }
   .active li{
    display: block;
    }
   nav ul li:hover{
    background-color:rgba(2, 2, 2, 0.675);
   }
   nav ul li:hover a{
    background-color: transparent;
  }
}
